.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__content-container {
  display: flex;
  gap: 58px;
  justify-content: center;
  align-items: flex-end;
}

.drop-side-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
}